*{
    margin: 0;
    padding: 0;
    border: 0;
}


main{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
}

footer{
    bottom: 0 !important;
    width: auto;
    /* height: 220px; */
    background-color: 929292;
  }