*{
    margin: 0;
    padding: 0;
    border: 0;
}

html, body{
    height: 100%;
    max-width: 100%;
}

  main{
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 90vh;
}

footer{
    bottom: 0 !important;
    width: auto;
    height: 220px;
    background-color: rgb(110, 173, 228);
  }