*{
    margin: 0;
    padding: 0;
    border: 0;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw !important;
    height: 100vh;
}

footer{
    bottom: 0 !important;
    width: auto;
    background-color: 929292;
  }