*{
  margin: 0;
  padding: 0;
}

body{
    
  background-color: #FDF6E3;

}

  .botao_contato {
    width: 138px;
    height: 35px;
    padding: 0px 10px 0px 10px;
    background: #444444;
    color: #FFFFFF;
    border-color: #444444;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Source Sans 3";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
  }
  
  .coluna_left{
    margin-top: 150px;
    margin-left: 155px;
    padding: 60px;
  }

  