
header {
  height: 200px;
  background-color: #232323 !important;
  padding: 30px 20px;
  display:flex;
  justify-content: center;
  text-align: center;
  }
   
  .titulo_centro{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column ;
 }
  
.titulo_centro h1 , h2{
  color: aliceblue !important;

}

.logo{
  display: flex;
  margin: 10;
  width: 17vh;
  height: 15vh;
  
}

.teste{
display: flex;
margin: auto;
align-items: center

}
