
header {
  height: 200px;
  background-color: #a19090;
  padding: 30px 20px;
  display:flex;
  justify-content: center;
  text-align: center;
  }
   
  .titulo_centro{
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
 }
   
  