{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="justify-content-center">
    <div class="row linha_um">
        <div class="col-4 ">
            <div class="card">
                <h3>Biblioteca</h3>
                <p>posts existentes</p>
            </div>          
        </div>
        <div class="col-4">
            <div class="card">
                <h3>Faça login</h3>
                <p>Entre na sua conta</p>            
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <h3>Faça login</h3>
                <p>Entre na sua conta</p>
            </div>
        </div>
    </div>
    
    
    <div class="row linha_dois">
        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
              </div>
        </div>
    </div>
</section>
{% endblock %}



