{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <section class="row">
   
        <div class="col-12">
            <div class="cards_centro">
                <div class="card">
                  <h3>Biblioteca</h3>
                  <p>posts existentes</p>
                </div>
          
                <div class="card">
                  <h3>Faça login</h3>
                  <p>Entre na sua conta</p>
                </div>
              </div>
        </div>
    
   
</section> -->

<!-- ranking -->
<!-- <section class="row cards_centro">
    <div class="col-10">
        <div class="em_baixo">
        <div class="">
            <div class="card">
              <h3>Livro 1</h3>
              <p></p>
            </div>

            <div class="card">
              <h3>Livro 2</h3>
              <p>Entre na sua conta</p>
            </div>
    
            <div class="card">
                <h3>Livro 3</h3>
                <p>Entre na sua conta</p>
              </div>
          </div>
        </div>
    </div>
</section> -->


<section class="justify-content-center">
    <div class="row justify-content-md-center">
        <div class="col-6 ">
            <div class="card">
                <h3>Biblioteca</h3>
                <p>posts existentes</p>
            </div>          
        </div>
        <div class="col-6 justify-content-end">
            <div class="card">
                <h3>Faça login</h3>
                <p>Entre na sua conta</p>
            </div>
        </div>
    </div>

    <div class="row linha_dois">
        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h3>Livro 1</h3>
                <p></p>
              </div>
        </div>
    </div>
</section>
{% endblock %}



